name: auto-test

on: [push, pull_request]

jobs:
  # クライアントサイドの自動テスト
  client:
    runs-on: ubuntu-latest #OSは最新のubuntu
    defaults:
      run:
        working-directory: ./rme/client # stepsはデフォはrme/clientの中で実行する

    steps:
      - name: チェックアウト
        uses: actions/checkout@v2

      - name: node.js、npm、yarnのインストール
        uses: actions/setup-node@v2
        with:
          node-version: 16.5.x

      - name: ライブラリインストール
        run: yarn

      - name: 自動テスト通るか
        run: yarn test

      - name: ビルドできるか
        run: yarn build

  # メインプロセスの自動テスト
  main:
    runs-on: ubuntu-latest #OSは最新のubuntu
    defaults:
      run:
        working-directory: ./rme # stepsはデフォはrmeの中で実行する

    steps:
      - name: チェックアウト
        uses: actions/checkout@v2

      - name: node.js、npm、yarnのインストール
        uses: actions/setup-node@v2
        with:
          node-version: 16.5.x

      - name: ライブラリインストール
        run: yarn

      - name: テスト通るか
        run: yarn test

      - name: ビルドできるか
        run: yarn build:noinstaller
