name: Publishする（現状ダミー）

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    defaults:
      run:
        # stepsはデフォはrmeの中で実行する
        working-directory: ./rme

    steps:
      - name: チェックアウト
        uses: actions/checkout@v2

      - name: node.js、npm、yarnのインストール
        uses: actions/setup-node@v2
        with:
          node-version: 16.5.x

      - name: Publish releases（TODO:修正）
        env:
          # These values are used for auto updates signing
          # APPLE_ID: ${{ secrets.APPLE_ID }}
          # APPLE_ID_PASS: ${{ secrets.APPLE_ID_PASS }}
          # CSC_LINK: ${{ secrets.CSC_LINK }}
          # CSC_KEY_PASSWORD: ${{ secrets.CSC_KEY_PASSWORD }}
          # This is used for uploading release assets to github
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn build:noinstaller

        # npm run build
        # npm exec electron-builder -- --publish always --win --mac --linux
